.form {
    border-radius: 2rem;
    border-color: black;
    background-color: rgb(220, 231, 255);

    width: 50%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.display-4 {
    font-weight: 500;
}

.btn {
    width: 100%;
}
